<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Logowanie</h1>
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="radio" name="user_type" value="user"> Zaloguj sie jako klient
        </label><br>
        <label>
            <input type="radio" name="user_type" value="business"> Zaloguj sie jako klient biznesowy
        </label><br>
        <button type="submit">Zaloguj</button>
    </form>
</body>
</html>
